global
    maxconn 8192
    nbthread 1
    cpu-map 1 0
    tune.bufsize 16384
    tune.maxrewrite 1024

defaults
    mode tcp
    no log
    option dontlognull
    retries 0
    timeout connect 100ms
    timeout client 5s
    timeout server 5s
    timeout queue 3s

frontend rinha
    bind *:9999 backlog 4096
    maxconn 12000
    default_backend apis

backend apis
    balance roundrobin
    default-server maxconn 3000
    server api1 unix@/sockets/api1.sock
    server api2 unix@/sockets/api2.sock
