global
    maxconn 4096

defaults
    mode http
    timeout connect 1s
    timeout client  3s
    timeout server  3s
    option http-keep-alive

frontend rinha
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200
    server api1 unix@/run/sock/api1.sock check inter 1s fall 3 rise 2
    server api2 unix@/run/sock/api2.sock check inter 1s fall 3 rise 2
