global
    maxconn 10000

defaults
    mode http
    timeout connect 1s
    timeout client  3s
    timeout server  3s
    timeout http-request 3s
    timeout http-keep-alive 3s
    timeout queue 2s
    option http-keep-alive

frontend rinha
    bind *:9999
    maxconn 4096
    default_backend apis

backend apis
    balance roundrobin
    http-reuse always
    retries 2
    option redispatch 1
    default-server maxconn 64 maxqueue 2048
    server api1 /sockets/api1.sock
    server api2 /sockets/api2.sock
